*{ box-sizing: border-box; }
p{ padding: 0; }
ul,ol,li{ margin: 0; padding: 0; list-style: none; }
a{ text-decoration: none; }
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar{
    width: 9px;
    height: 9px;
    border-radius: 8px;
}
::-webkit-scrollbar-button{
    display: none;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background: rgba(0,0,0,.2);
}
::-webkit-scrollbar-track{
    background: #eee;
}

@import './components/sidebar.scss';
@import './components/icon.scss';

.container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: #394a6d;
}

.main{
    flex-grow: 1;
    flex-direction: column;
    width: calc(100% - 200px);
    background-color: #f3f3f4;
    overflow: auto;
}

.header{
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    padding: 0 30px;
    background-color: #fff;
}

.username{
    font-size: 14px;
    color: #35495e;
}

.wrapper{
    flex-grow: 1;
}

.footer{
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #fff;
}

.copyright{
    font-size: 12px;
    color: #666;
}

.system-icon{
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    border-radius: 19px;
    font-size: 12px;
}

.MOMP{
    background-color: #6a82ec;
    color: #fff;
}

.AFS{
    background-color: #75a6d6;
    color: #fff;
}